.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.3s ease;
}
  
.scroll-to-top-button.visible {
    display: block;
}
  
.scroll-to-top-button:hover {
    opacity: 0.8;
}

