@font-face {
    font-family: robot;
    src: url('../font/Roboto-Regular.ttf');
}

.icon-contact-container{
    width: 100%;
    margin: 4rem auto;
}

.contact-link{
    text-decoration: none;
    font-family: robot;
    font-size: 20px;
    font-style: 700;
    color: #ffffff;
}

.contact-icon{
    width: 15%;
    transition: 0.5s;
}

.contact-icon:hover{
    scale: 110%;
}

.contact-link p{
    margin-top: 0.1rem;
    font-size: 16px;
}


@media screen and (max-width:768px) {
    .contact-icon{
        min-width: 20%;
    }
}

@media (min-width:769px) and (max-width: 1200px){
    .contact-icon{
        width: 20%;
    }
}

